body {
    background-color: whitesmoke;
    margin: auto;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
}

h4 {
    font-family: 'Roboto Condensed', sans-serif;
}

h5 {
    font-family: 'Roboto Condensed', sans-serif;
}

h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
}

.gridContainer {
    display: grid;
    row-gap: 5px;
    grid-template-rows: 50% 30% 20%;
    max-height: 650px;
}
.gridContainer img {
    width: 700px;
    height: auto;
}

article {
    display: grid;
    gap: 10px;
}

header {
    color: black;
}
header footer {
    background-color: aqua;
    background-image: url("values-bg.jpg");
    max-width: 100%;
    
}
header article img {
    transform: rotate(6deg);
}
.sphere {
    display: flex;
    width: 75px;
    height: 75px;
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    
}
main {
    max-width:  65%;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: 45% 55%;
    align-items: center;
    margin: auto;
    margin-top: 15px;
    padding-bottom: 25px;
}
footer {
    background-color: aquamarine;
    width: 100%;

    justify-self: end;
}
footer .gridContainer{
    width: 65%;
    margin: auto;
    grid-template-rows: none;
    grid-template-columns: auto auto auto;
    margin-top: 250px;
}

@media screen and (min-width: 15em) {
    body {
        background-color: whitesmoke;
        margin: auto;
    }
    
    .gridContainer {
        display: grid;
        row-gap: 5px;
        grid-template-rows: auto auto auto;
        max-height: none;
    }
    .gridContainer img {
        width: 250px;
        height: auto;
    }
    
    article {
        display: grid;
        gap: 10px;
    }
    
    header {
        color: black;
    }
    header footer {
        background-color: aqua;
        background-image: url("values-bg.jpg");
        max-width: 100%;
        
    }
    .head {
        display: grid; 
        grid-template-rows: 30% 70%; 
        grid-template-columns: none;
        width: 60%; 
        margin: auto;
        padding-bottom: 10px;
    }
    
    header .head img {
    transform: rotate(5deg);
    width: 155px;
    height: auto;
    }
    
    .sphere {
        display: flex;
        width: 55px;
        height: 55px;
        text-align: center;
        vertical-align: middle;
        border-style: solid;
        border-width: 3px;
        border-color: black;
        border-radius: 50%;
        align-self: center;
        justify-self: center;
        justify-content: center;
        align-items: center;
        
    }
    main {
        max-width:  65%;
        display: grid;
        column-gap: 5px;
        row-gap: 5px;
        grid-template-rows: auto auto;
        grid-template-columns: none;
        align-items: center;
        margin: auto;
        margin-top: 15px;
        padding-bottom: 25px;
    }
    footer {
        background-color: aqua;
        width: 100%;
        justify-self: end;
    }
    footer .gridContainer{
        width: 95%;
        margin: auto;
        grid-template-rows: auto auto auto;
        grid-template-columns: none;
        margin-top: 250px;

    }
    footer .gridContainer ul{
        border-radius: 3px;
        border-style: solid;
        border-color: black;
    }
    
  }

@media screen and (min-width: 48em) {
    body {
        background-color: white;
        margin: auto;
    }
    
    .gridContainer {
        display: grid;
        row-gap: 5px;
        grid-template-rows: 50% 30% 20%;
        grid-template-columns: none;
        
    }
    .gridContainer img {
        width: 450px;
        height: auto;
    }
    
    article {
        display: grid;
        gap: 10px;
    }
    
    header {
        color: black;
    }
    header footer {
        background-color: aqua;
        background-image: url("values-bg.jpg");
        max-width: 100%;
        
    }
    .head {
        display: grid; 
        grid-template-rows: none; 
        grid-template-columns: 45% 55%;
        width: 60%; 
        margin: auto;
        padding-bottom: 10px;
        padding-top: 15px;
    }
    
    header .head img {
    transform: rotate(5deg);
    width: 155px;
    height: auto;
    }
    .sphere {
        display: flex;
        width: 75px;
        height: 75px;
        text-align: center;
        vertical-align: middle;
        border-style: solid;
        border-width: 3px;
        border-color: black;
        border-radius: 50%;
        align-self: center;
        justify-self: center;
        justify-content: center;
        align-items: center;
        
    }
    main {
        max-width:  85%;
        display: grid;
        column-gap: 15px;
        row-gap: 5px;
        grid-template-columns: auto auto;
        align-items: center;
        margin: auto;
        margin-top: 15px;
        padding-bottom: 25px;
    }
    footer {
        background-color: aquamarine;
        width: 100%;
        justify-self: end;
    }
    footer .gridContainer{
        width: 85%;
        margin: auto;
        grid-template-rows: none;
        grid-template-columns: auto auto auto;
        margin-top: 250px;
        column-gap: 7px;
    }

}


@media screen and (min-width: 90em) {
    body {
        background-color: whitesmoke;
        margin: auto;
    }
    
    .gridContainer {
        display: grid;
        row-gap: 5px;
        grid-template-rows: 50% 30% 20%;
        max-height: 690px;
    }
    .gridContainer img {
        width: 700px;
        height: auto;
    }
    
    article {
        display: grid;
        gap: 25px;
    }
    .head {
        display: grid; 
        grid-template-columns: auto auto; 
        width: 65%; margin: auto;
    }
    
    header .head img {
    transform: rotate(10deg);
    width: 255px;
    height: auto;
    }
    
    header {
        color: black;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    header footer {
        background-color: aqua;
        background-image: url("values-bg.jpg");
        max-width: 100%;
        
    }
    .sphere {
        display: flex;
        width: 105px;
        height: 105px;
        text-align: center;
        vertical-align: middle;
        border-style: solid;
        border-width: 3px;
        border-color: black;
        border-radius: 50%;
        align-self: center;
        justify-self: center;
        justify-content: center;
        align-items: center;
        
        
    }
    .sphere h3 {
        font-size: 45px;
    }
    main {
        max-width:  65%;
        display: grid;
        column-gap: 5px;
        row-gap: 5px;
        grid-template-columns: 45% 55%;
        align-items: center;
        margin: auto;
        margin-top: 15px;
        padding-bottom: 25px;
    }
    footer {
        background-color: aquamarine;
        width: 100%;
    
        justify-self: end;
    }
    footer .gridContainer{
        width: 65%;
        margin: auto;
        grid-template-rows: none;
        grid-template-columns: auto auto auto;
        margin-top: 250px;
    }
}
